<div class="cnt-one-col">
  <h2>Dwolla Token Generator</h1>
  <p>Generate an OAuth access and refresh token pair for the Dwolla API.</p>

  <% if @token %>
	<div class="code-snippet js-code-snippet">
	    <div class="code-snippet__cnt">
	        <pre class="language-json"><%== Parser.md.render(@token).html_safe %></pre>
	    </div>
	</div>
	<% end %>

  <section class="hover-box">
    <%= form_for(:auth, :url => {:controller => 'token', :action => 'generate'}) do |f| %>

    <section>
      <h3 class="page-header">Step 1: Select environment</h3>
      <div class="toggle-buttons">
        <a id="button-production">Production</a>
        <a class="active" id="button-sandbox">UAT/Sandbox</a>
      </div>
      <input type="hidden" name="environment" id="environment_toggle" value="sandbox">
    </section>

    <section>
      <h3 id="step_1">Step 2: Set credentials</h3>
      <div id="custom-credentials-section">
        <ol class="alerts" id="warnings">
          <li class="information icon-alert-info" style="text-align: left;"><strong>Before you can use this tool,</strong> be sure to add <code>https://tokengenerator.dwolla.com/redirect</code> as one of your application's OAuth Redirect URLs in your application settings.</a></li>
        </ol>

        <ul class="fields-list js-infield-label">
        <li>
            <%= f.text_field :user_key, :tabindex => 1, class: 'form-control', :placeholder => 'Application Key' %>
        </li>
        <li>
            <%= f.text_field :user_secret, :tabindex => 1, class: 'form-control', :placeholder => 'Application Secret' %>
        </li>
        </ul>
      </div>
      
      <br>
      <ul class="fields-list js-infield-label">
        <li>
          <input type="checkbox" id="generic-credentials-checkbox">
          <label for="generic-credentials-checkbox"><span>Use example app credentials instead (note: you won't be able to refresh your token)</span></label>
        </li>
      </ul>
      <br>
    </section>

    <section>
      <h3 class="page-header">Step 3: Select API Version</h3>
      <div class="toggle-buttons">
        <a id="button-v1">API V1</a>
        <a class="active" id="button-v2">API V2</a>
      </div>
    </section>

    <section>
      <h3 class="page-header" id="step_2">Step 4: Select Permissions</h3>
      <a class="btn alternative" id="all_scopes_button">Select all</a>
      <a class="btn alternative" id="no_scopes_button">Clear</a>

      <ul class="fields-list" id="scopes-list">
        <li>
          <%= f.check_box :Send, { checked: 0 } %>
          <label for="auth_Send"><span>Send</span></label>
        </li>
        <li class="v1-only">
          <%= f.check_box :Scheduled, { checked: 0 } %>
          <label for="auth_Scheduled"><span>Scheduled</span></label>
        </li>
        <li class="v1-only">
          <%= f.check_box :Request, { checked: 0 } %>
          <label for="auth_Request"><span>Request</span></label>
        </li>
        <li class="v1-only">
          <%= f.check_box :AccountInfoFull, { checked: 0 } %>
          <label for="auth_AccountInfoFull"><span>AccountInfoFull</span></label>
        </li>
        <li class="v1-only">
          <%= f.check_box :Contacts, { checked: 0 } %>
          <label for="auth_Contacts"><span>Contacts</span></label>
        </li>
        <li>
          <%= f.check_box :Transactions, { checked: 0 } %>
          <label for="auth_Transactions"><span>Transactions</span></label>
        </li>
        <li class="v1-only">
          <%= f.check_box :Balance, { checked: 0 } %>
          <label for="auth_Balance"><span>Balance</span></label>
        </li>
        <li>
          <%= f.check_box :Funding, { checked: 0 } %>
          <label for="auth_Funding"><span>Funding</span></label>
        </li>
        <li class="v1-only">
          <%= f.check_box :ManageAccount, { checked: 0 } %>
          <label for="auth_ManageAccount"><span>ManageAccount</span></label>
        </li>
        <li class="v2-only">
          <%= f.check_box :ManageCustomers, { checked: 0 } %>
          <label for="auth_ManageCustomers"><span>ManageCustomers</span></label>
        </li>
   
      </ul>
    </section>
      
  <section>
    <%= f.submit 'Start OAuth', class: 'btn large alternative', :id => 'submit' %>
  </section>
  <% end %> 
</section>

  
</div>

