<html>
  <head>
    <title>OAuth Token Generator | Dwolla</title>
    <meta name="viewport" content="width=device-width">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript"></script>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "dwolla" %>
    <%= stylesheet_link_tag "developer.css" %>

    <%= javascript_include_tag "application" %>
  </head>
  <body>

  <div class="page-wrap">
		<%= render partial: "layouts/bs_alerts", flash: flash %>
		<%= yield %>
		<%= render partial: "layouts/footer" %>
	</div>
  </body>
</html>